<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Servicio</title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
<script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
<script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<h1>Search de Personal</h1>

<div id="message" name="message">
  <span>
    Aqui van los resultados
  </span>
</div>

    <input type="search"
           name="search" placeholder="Digite Para Iniciar la Búsqueda de Servicio"
           hx-post="/cotizaPersonal/search"
           hx-trigger="input changed delay:500ms, search"
           hx-target="#search-results"
    >
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Add</th>
        </tr>
        </thead>
        <tbody id="search-results">
        </tbody>
    </table>

</body>
</html>
</body>
</html>
-->




<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/htmx.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Participantes del proyecto </title>
</head>
<body class="flex flex-col min-h-screen">
<div>
    <div th:insert="~{sidebar}"></div>
    <div th:insert="~{header}"></div>
    <main class="lg:pl-64">
        <div class="sm:flex sm:items-center mt-12 mb-2 ml-8">
            <div class="sm:flex-auto">
                <h2 class="text-3xl font-extrabold leading-6 text-sky-700">Pasticipantes del proyecto</h2>
            </div>
        </div>

        <div class="grid grid-cols-6 items-start p-4 gap-4">
            <div class="col-span-3 bg-white rounded-xl border border-gray-500 flex flex-col ">
                <div class="relative  p-2 flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md overflow-hidden">
                    <div class="relative bg-clip-border rounded-xl overflow-hidden bg-transparent text-gray-700 shadow-none m-0 flex items-center justify-between p-6">
                        <div>
                            <h4 class="block antialiased tracking-normal font-sans text-xl font-semibold leading-relaxed text-sky-800 mb-1">
                                Búsqueda de empleados</h4>
                        </div>
                    </div>
                    <div class="p-6 overflow-x-scroll px-0 pt-0 pb-2">
                        <div class="relative mt-2 rounded-md shadow-sm">
                            <input type="text" name="search" id="search"
                                   class="block w-full rounded-md border-0 py-1.5 pr-10 pl-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm/6"
                                   placeholder="Digite Para Iniciar la Búsqueda del empleado"
                                   hx-post="/empConahcyt/search"
                                   hx-trigger="input changed delay:500ms, search"
                                   hx-target="#search-results">
                            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                     class="size-6">
                                    <path d="M8.25 10.875a2.625 2.625 0 1 1 5.25 0 2.625 2.625 0 0 1-5.25 0Z"/>
                                    <path fill-rule="evenodd"
                                          d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-1.125 4.5a4.125 4.125 0 1 0 2.338 7.524l2.007 2.006a.75.75 0 1 0 1.06-1.06l-2.006-2.007a4.125 4.125 0 0 0-3.399-6.463Z"
                                          clip-rule="evenodd"/>
                                </svg>
                            </div>
                        </div>

                        <div class="inline-block min-w-full align-middle sm:px-6 lg:px-8">
                            <div id="search-results">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-3 bg-white rounded-xl border border-gray-500 flex flex-col ">
                <div class="relative  p-2 flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md overflow-hidden">
                    <div class="relative bg-clip-border rounded-xl overflow-hidden bg-transparent text-gray-700 shadow-none m-0 flex items-center justify-between p-6">
                        <div>
                            <h4 class="block antialiased tracking-normal font-sans text-xl font-semibold leading-relaxed text-sky-800 mb-1">
                                Empleados agregados a la cotización</h4>
                        </div>
                    </div>
                    <div class="p-6 overflow-x-scroll px-0 pt-0 pb-2">
                        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                            <div id="message" name="message">
                                <!--
                                     <span> Aqui van los resultados </span>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:insert="~{footer}"></div>


    </main>
</div>
</main>
</div>

<!-- from cdn -->
<script src="https://unpkg.com/@material-tailwind/html@latest/scripts/tabs.js"></script>

</body>


