<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista Proyectos</title>
</head>
<body>
<h1>Lista de Proyectos</h1>
<div class="m-10 p-7">
    <table>
        <tr>
            <th class="text-slate-500">Nombre</th>
            <th class="text-slate-500">Descripcion</th>
            <th class="text-slate-500">Detalle</th>
        </tr>
        <tr th:each="proyecto : ${proyectos}">
            <td th:text="${proyecto.nombre}">nombre del proyecto</td>
            <td th:text="${proyecto.descripcion}">nombre del proyecto</td>
            <td>
                <a
                        th:href="@{/proyecto/view(id=${proyecto.id})}">Detalle
                </a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>