<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/htmx.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Listado de cotizaciones</title>
</head>
<body>

<div class="px-4 sm:px-6 lg:px-8">

                        <div class="sm:flex sm:items-center mt-2">
                            <div class="sm:flex-auto">
                            </div>
                            <div class="mt-3 sm:ml-4 sm:mt-0">
                                <a th:href="@{/cotizacion/new(id=${proyecto.id})}">
                                    <button type="button"
                                            class="inline-flex items-center rounded-md bg-orange-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-orange-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-500">
                                        Agregar Cotización
                                    </button>
                                </a>
                            </div>
                        </div>


                        <div class="mt-8 flow-root">
                            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                                <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">

                                    <table class="min-w-full divide-y divide-gray-300">
                                        <thead>
                                        <tr>
                                            <!--<th scope="col"
                                                class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                                                ID
                                            </th>-->
                                            <th scope="col"
                                                class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                                                Clave
                                            </th>
                                            <th scope="col"
                                                class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                                                Nombre
                                            </th>
                                            <th scope="col"
                                                class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                                                Costo Hrs Hombre
                                            </th>
                                            <th scope="col"
                                                class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                                                Costo Materiales
                                            </th>
                                            <th scope="col"
                                                class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                                                Costo Viáticos
                                            </th>
                                            <th scope="col"
                                                class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                                                Costo Pasajes
                                            </th>
                                            <th scope="col"
                                                class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                                                <span></span>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody class="divide-y divide-gray-200">
                                        <tr th:each="cotizacion : ${cotizaciones}">
                                           <!-- <td th:text="${cotizacion.id}"
                                                class="px-3 py-4 text-sm text-gray-500">Id
                                            </td>-->
                                            <td th:text="${cotizacion.numero}"
                                                class="px-3 py-4 text-sm text-gray-500">numero
                                            </td>
                                            <td th:text="${cotizacion.nombre}"
                                                class="px-3 py-4 text-sm text-gray-500">Nombre
                                            </td>
                                            <td th:text="${cotizacion.costoTotalHrsHombre}"
                                                class="px-3 py-4 text-sm text-gray-500 text-right">Total Hrs Hombre
                                            </td>
                                            <td th:text="${cotizacion.materiales}"
                                                class="px-3 py-4 text-sm text-gray-500 text-right">Total Materiales
                                            </td>
                                            <td th:text="${cotizacion.viaticos}"
                                                class="px-3 py-4 text-sm text-gray-500 text-right">Total Viaticos
                                            </td>
                                            <td th:text="${cotizacion.pasajes}"
                                                class="px-3 py-4 text-sm text-gray-500 text-right">Total Pasajes
                                            </td>
                                            <td>
                                                <a th:href="@{/cotizacion/view(id=${cotizacion.id})}"
                                                   class="whitespace pl-4 text-sky-600 text-sm hover:text-sky-900">Ver</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
</div>
</body>
</html>