<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/htmx.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Info del Cotización</title>
</head>
<body class="flex flex-col min-h-screen">
<div>
    <div th:insert="~{sidebar}"></div>
    <div th:insert="~{header}"></div>
    <main class="lg:pl-64">

        <div class="relative flex min-h-min flex-col justify-center overflow-hidden bg-gray-50">
            <img src="/images/beams.jpg" alt=""
                 class="absolute top-1/2 left-1/2 max-w-none -translate-x-1/2 -translate-y-1/2" width="1308"/>
            <div class="absolute inset-0 bg-[url(/images/grid.svg)] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"></div>
            <div class="relative bg-white px-6 pt-4 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-10 sm:rounded-lg sm:px-10">
                <div class="mx-auto max-w-screen-lg">
                    <div class="divide-y divide-gray-300/50">

                        <div class="pt-4 text-base font-semibold leading-7">
                            <div class="p-6 border border-gray-200 rounded-3xl w-full group transition-all duration-500 hover:border-gray-400 ">
                                <h2
                                        class="font-manrope font-bold text-3xl leading-10 text-sky-800 pb-6 border-b border-gray-200 ">
                                    Cotización No. <span class="uppercase" th:text="${cotizacion.numero}">2</span>
                                </h2>
                                <div class="data py-6 border-b border-gray-200">
                                    <div class="flex items-center justify-left gap-4 mb-5">
                                        <p class="font-normal text-lg leading-8 text-gray-400 transition-all duration-500 group-hover:text-gray-700">Nombre:</p>
                                        <p class="font-medium text-lg leading-8 text-gray-900">
                                            <span th:text="${cotizacion.nombre}">2</span>
                                        </p>
                                    </div>
                                    <div class="flex items-center justify-between gap-4 mb-5">
                                        <p class="font-normal text-lg leading-8 text-gray-400 transition-all duration-500 group-hover:text-gray-700">Total de materiales</p>
                                        <p class="font-medium text-lg leading-8 text-gray-900">
                                            <span th:inline="text">$ [[${#numbers.formatDecimal(cotizacion.materiales, 0, 'COMMA', 2, 'POINT')}]]</span>

                                        </p>
                                    </div>
                                    <div class="flex items-center justify-between gap-4 mb-5">
                                        <p class="font-normal text-lg leading-8 text-gray-400 transition-all duration-500 group-hover:text-gray-700">Total de viáticos</p>
                                        <p class="font-medium text-lg leading-8 text-gray-900">
                                            <span th:inline="text">$ [[${#numbers.formatDecimal(cotizacion.viaticos, 0, 'COMMA', 2, 'POINT')}]]</span>

                                        </p>
                                    </div>
                                    <div class="flex items-center justify-between gap-4 mb-5">
                                        <p class="font-normal text-lg leading-8 text-gray-400 transition-all duration-500 group-hover:text-gray-700">Total de pasajes</p>
                                        <p class="font-medium text-lg leading-8 text-gray-900">
                                            <span th:inline="text">$ [[${#numbers.formatDecimal(cotizacion.pasajes, 0, 'COMMA', 2, 'POINT')}]]</span>

                                        </p>
                                    </div>
                                    <div class="flex items-center justify-between gap-4 mb-5">
                                        <p class="font-normal text-lg leading-8 text-gray-400 transition-all duration-500 group-hover:text-gray-700">Total de horas hombre</p>
                                        <p class="font-medium text-lg leading-8 text-gray-900">
                                            <span th:inline="text">$ [[${#numbers.formatDecimal(cotizacion.costoTotalHrsHombre, 0, 'COMMA', 2, 'POINT')}]]</span>

                                        </p>
                                    </div>
                                </div>
                                <div class="total flex items-center justify-between pt-6">
                                    <p class="font-normal text-xl leading-8 text-black ">Subtotal</p>
                                    <h5 class="font-manrope font-bold text-2xl leading-9 text-green-600">
                                        <span th:inline="text">$ [[${#numbers.formatDecimal(subtotal, 0, 'COMMA', 2, 'POINT')}]]</span>
                                    </h5>
                                </div>
                            </div>



                            <div class="mt-6 border border-gray-200 rounded-xl w-full group transition-all duration-500 hover:border-gray-400 ">
                                <div class="w-full">
                                    <div class="relative right-0">
                                        <ul class="relative flex flex-wrap px-1.5 py-1.5 list-none rounded-xl bg-slate-400 text-lg"
                                            data-tabs="tabs" role="list">
                                            <li class="z-30 flex-auto text-center">
                                                <a class="z-30 flex items-center justify-center w-full px-0 py-2 mb-0 transition-all ease-in-out border-0 rounded-xl cursor-pointer text-slate-700 bg-inherit"
                                                   data-tab-target="" role="tab" aria-selected="true"
                                                   aria-controls="servicios">
                                                    Servicios
                                                </a>
                                            </li>
                                            <li class="z-30 flex-auto text-center">
                                                <a class="z-30 flex items-center justify-center w-full px-0 py-2 mb-0 transition-all ease-in-out border-0 rounded-xl cursor-pointer text-slate-700 bg-inherit"
                                                   data-tab-target="" role="tab" aria-selected="false"
                                                   aria-controls="personal">
                                                    Empleados
                                                </a>
                                            </li>
                                        </ul>
                                        <div data-tab-content="" class="p-5">
                                            <div id="servicios" role="tabpanel"
                                                 th:hx-get="@{/cotiza/list(id=${cotizacion.id})}" hx-trigger="load">
                                            </div>
                                            <div class="hidden opacity-0" id="personal" role="tabpanel"
                                                 th:hx-get="@{/cotizaPersonal/list(id=${cotizacion.id})}" hx-trigger="load">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div th:insert="~{footer}"></div>


    </main>
</div>
</main>
</div>

<!-- from cdn -->
<script src="https://unpkg.com/@material-tailwind/html@latest/scripts/tabs.js"></script>

</body>

