<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="/htmx.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Gantt del Proyecto</title>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load("current", { packages: ["gantt"] });
        google.charts.setOnLoadCallback(drawChart);

        todos = new Array();

        function toMilliseconds(minutes) {
          return minutes * 60 * 1000;
        }

        function daysToMilliseconds(days) {
          return days * 24 * 60 * 60 * 1000;
        }

        function drawChart() {
          otherData = new google.visualization.DataTable();
          otherData.addColumn("string", "Task ID");
          otherData.addColumn("string", "Task Name");
          otherData.addColumn("string", "Resource");
          otherData.addColumn("date", "Start");
          otherData.addColumn("date", "End");
          otherData.addColumn("number", "Duration");
          otherData.addColumn("number", "Percent Complete");
          otherData.addColumn("string", "Dependencies");

        };

        function grafica(renglones) {
          graphData = new google.visualization.DataTable();
          graphData.addColumn("string", "Task ID");
          graphData.addColumn("string", "Task Name");
          graphData.addColumn("string", "Resource");
          graphData.addColumn("date", "Start");
          graphData.addColumn("date", "End");
          graphData.addColumn("number", "Duration");
          graphData.addColumn("number", "Percent Complete");
          graphData.addColumn("string", "Dependencies");
          graphData.addRows(renglones);

          var options = {
            height: 1000,
            width: "100%",
            gantt: {
              defaultStartDate: new Date(2024, 3, 28),
            },
          };

          var chart = new google.visualization.Gantt(
            document.getElementById("chart_div")
          );

          console.log("Dibujando la grafica");
          chart.draw(graphData, options);
        };

    </script>
</head>
<body>
<div class="divide-y divide-gray-300/50 p-4 m-2">
    <div class="space-y-6 py-8 text-base leading-7 text-gray-600">
        <h2 class="text-2xl font-extrabold leading-6 text-sky-700">Gantt del Proyecto</h2>
    </div>

    <button type="button" onclick="grafica(todos);"
            class="rounded-md bg-sky-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-sky-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600">
        Generar Gráfica
    </button>
</div>
<div class="px-4 sm:px-6 lg:px-8">
    <!--
    <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
            <p class="mt-2 text-sm text-gray-700"> Listado de etapas del proyecto.</p>
        </div>
    </div>
    -->
    <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-300">
                        <thead class="bg-gray-50">
                        <!--
                        <tr>
                            <th scope="col"
                                class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Nombre
                            </th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Inicio
                            </th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Servicio
                            </th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Duración
                                (días)
                            </th>
                        </tr>
                        -->
                        </thead>
                        <tbody class="divide-y divide-gray-200 bg-white">
                        <tr th:each="etapa : ${etapas}">
                            <script th:inline="javascript">
                                /*<![CDATA[*/

                                    var taskId = /*[[${etapa.taskId}]]*/ 'default';
                                    var taskName = /*[[${etapa.taskName}]]*/ 'default';
                                    var resource = /*[[${etapa.resource}]]*/ 'default';
                                    var startDateString  = /*[[${etapa.startDate}]]*/ ;
                                    var startDate = Date.parse(startDateString);
                                    var startDateDate = new Date(startDate);
                                    var endDateString = /*[[${etapa.endDate}]]*/ ;
                                    var endDate = Date.parse(endDateString);
                                    var endDateDate = new Date(endDate);
                                    var duration = /*[[${etapa.duration}]]*/ 'default';
                                    var pctComplete = /*[[${etapa.pctComplete}]]*/ 'default';
                                    var dependencies = 'null';
                                     console.log("Start:" + startDate);

                                    array = [taskId, taskName, resource, startDateDate, endDateDate, duration, pctComplete, null]
                                    todos.unshift(array);
                                    console.log(array);
                                    console.log("=================================================");
                                    console.log(todos);

                                /*]]>*/
                            </script>
                            <!--
                            <td th:text="${etapa.taskName}"
                                class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                                Lindsay Walton
                            </td>
                            <td th:text="${etapa.startDate}" class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                Front-end Developer
                            </td>
                            <td th:text="${etapa.resource}" class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                lindsay.walton@example.com
                            </td>
                            <td th:text="${etapa.duration}" class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                Member
                            </td>
                            -->
                        </tr>

                        <!-- More people... -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-8 flow-root">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
            <div class="p-4" id="chart_div"></div>
        </div>
    </div>
</div>
</body>
</html>