<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/htmx.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Info del Proyecto</title>
</head>
<body class="flex flex-col min-h-min">
<div>
    <div th:insert="~{sidebar}"></div>
    <div th:insert="~{header}"></div>
    <main class="lg:pl-72">

        <div class="relative flex min-h-min flex-col justify-center overflow-hidden bg-gray-50">
            <img src="/images/beams.jpg" alt=""
                 class="absolute top-1/2 left-1/2 max-w-none -translate-x-1/2 -translate-y-1/2" width="1308"/>
            <div class="absolute inset-0 bg-[url(/images/grid.svg)] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"></div>
            <div class="relative bg-white px-6 pt-4 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-10 sm:rounded-lg sm:px-10">
                <div class="mx-auto max-w-screen-lg">
                    <div class="divide-y divide-gray-300/50">
                        <div class="space-y-6 py-8 text-base leading-7 text-gray-600">
                            <h2 class="text-3xl font-extrabold leading-6 text-sky-700">Información del Proyecto</h2>
                        </div>
                        <div class="pt-4 text-base font-semibold leading-7">

                            <div class="mt-5 flex items-center space-x-3">

                                <h3 class="truncate text-sm font-medium text-gray-900">
                                    <span th:text="${proyecto.nombre}">2</span>
                                </h3>
                                <span th:text="${proyecto.tipoProyecto}"
                                      class="inline-flex flex-shrink-0 items-center rounded-full bg-green-50 px-1.5 py-0.5 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Admin</span>
                            </div>
                            <div class="mt-5 flex items-center space-x-3">

                                <h3 class="whitespace text-sm font-medium text-gray-900">
                                    <span>Descripción:</span>
                                </h3>
                                <p class="whitespace text-sm text-gray-500">
                                    <span th:text="${proyecto.descripcion}">2</span>
                                </p>
                            </div>
                            <div class="mt-5 flex items-center space-x-3">
                                <h3 class="truncate text-sm font-medium text-gray-900">
                                    <span>Responsable:</span>
                                </h3>
                                <p class="truncate text-sm text-gray-500">
                                    <span th:text="${proyecto.responsable.nombre}">2</span>
                                </p>
                            </div>
                            <div class="mt-5 flex items-center space-x-3">
                                <h3 class="truncate text-sm font-medium text-gray-900">
                                    <span>Alumno:</span>
                                </h3>
                                <p class="truncate text-sm text-gray-500">
                                    <span th:text="${datosPostgrado.alumno.nombre}">2</span>
                                </p>
                            </div>


                            <div class="mt-8 overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">

                                <div class="w-full">
                                    <div class="relative right-0">
                                        <ul class="relative flex flex-wrap px-1.5 py-1.5 list-none rounded-md bg-slate-100"
                                            data-tabs="tabs" role="list">
                                            <li class="z-30 flex-auto text-center">
                                                <a class="z-30 flex items-center justify-center w-full px-0 py-2 text-sm mb-0 transition-all ease-in-out border-0 rounded-md cursor-pointer text-slate-600 bg-inherit"
                                                   data-tab-target="" role="tab" aria-selected="true"
                                                   aria-controls="dashboard">
                                                    Etapas
                                                </a>
                                            </li>
                                            <li class="z-30 flex-auto text-center">
                                                <a class="z-30 flex items-center justify-center w-full px-0 py-2 mb-0 text-sm transition-all ease-in-out border-0 rounded-lg cursor-pointer text-slate-600 bg-inherit"
                                                   data-tab-target="" role="tab" aria-selected="false"
                                                   aria-controls="profile">
                                                    Documentos
                                                </a>
                                            </li>
                                            <li class="z-30 flex-auto text-center">
                                                <a class="z-30 flex items-center justify-center w-full px-0 py-2 text-sm mb-0 transition-all ease-in-out border-0 rounded-lg cursor-pointer text-slate-700 bg-inherit"
                                                   data-tab-target="" role="tab" aria-selected="false"
                                                   aria-controls="settings">
                                                    Participantes
                                                </a>
                                            </li>
                                            <li class="z-30 flex-auto text-center">
                                                <a class="z-30 flex items-center justify-center w-full px-0 py-2 text-sm mb-0 transition-all ease-in-out border-0 rounded-lg cursor-pointer text-slate-700 bg-inherit"
                                                   data-tab-target="" role="tab" aria-selected="false"
                                                   aria-controls="pagos">
                                                    Pagos
                                                </a>
                                            </li>
                                        </ul>

                                        <div data-tab-content="" class="p-5">
                                            <div id="dashboard" role="tabpanel"
                                                 th:hx-get="@{/etapa/list(id=${proyecto.id})}" hx-trigger="load">
                                            </div>
                                            <div class="hidden opacity-0" id="profile" role="tabpanel"
                                                 th:hx-get="@{/documento/list(id=${proyecto.id})}" hx-trigger="load">
                                            </div>
                                            <div class="hidden opacity-0" id="settings" role="tabpanel"
                                                 th:hx-get="@{/empleado/list}" hx-trigger="load">
                                            </div>
                                            <div class="hidden opacity-0" id="pagos" role="tabpanel"
                                                 th:hx-get="@{/pago/list(id=${proyecto.id})}" hx-trigger="load">
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="mt-8 overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                                <div th:insert="~{Plot/Gantt}"></div>

                            </div>



                            <!-- CONTENIDO ... -->
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div th:insert="~{footer}"></div>


    </main>
</div>
</main>
</div>
<!-- from node_modules -->
<script src="node_modules/@material-tailwind/html/scripts/tabs.js"></script>

<!-- from cdn -->
<script src="https://unpkg.com/@material-tailwind/html@latest/scripts/tabs.js"></script>

</body>

