<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/htmx.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Editar Proyecto</title>
</head>
<body class="flex flex-col min-h-screen">
<div>
    <div th:insert="~{sidebar}"></div>
    <div th:insert="~{header}"></div>
    <main class="lg:pl-64">

        <div class="relative flex min-h-min flex-col justify-center overflow-hidden bg-gray-50">
            <img src="/images/beams.jpg" alt=""
                 class="absolute top-1/2 left-1/2 max-w-none -translate-x-1/2 -translate-y-1/2" width="1308"/>
            <div class="absolute inset-0 bg-[url(/images/grid.svg)] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"></div>
            <div class="relative bg-white px-6 pt-4 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-10 sm:rounded-lg sm:px-10">
                <div class="mx-auto max-w-screen-lg">
                    <div class="divide-y divide-gray-300/50">
                        <div class="space-y-6 py-8 text-base leading-7 text-gray-600">
                            <h2 class="text-3xl font-extrabold leading-6 text-sky-700">Proyecto CONAHCYT</h2>
                        </div>
                        <div class="pt-4 text-base font-normal leading-7">

                            <form action="#" th:action="@{/conahcyt/save}" th:object="${conahcyt}" method="post">
                                <div class="space-y-2">
                                    <div class="border-b border-gray-900/10 pb-12">

                                        <div class="block text-sm font-medium leading-6 text-red-600">
                                            <ul>
                                                <!--
                                                <li>
                                                    <p th:if="${#fields.hasGlobalErrors()}" th:errors="*{global}"></p>
                                                </li>
                                                -->
                                                <li>
                                                    <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Nombre error</span>
                                                </li>
                                                <li>
                                                    <span th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}">Nombre error</span>
                                                </li>
                                                <li>
                                                    <span th:if="${#fields.hasErrors('responsable')}" th:errors="*{responsable}">Nombre error</span>
                                                </li>
                                                <li>
                                                    <span th:if="${#fields.hasErrors('convocatoria')}" th:errors="*{convocatoria}">Nombre error</span>
                                                </li>
                                                <li>
                                                    <span th:if="${#fields.hasErrors('estatus')}" th:errors="*{estatus}">Nombre error</span>
                                                </li>
                                                <li>
                                                    <span th:if="${#fields.hasErrors('objetivo')}" th:errors="*{objetivo}">Nombre error</span>
                                                </li>
                                            </ul>
                                        </div>



                                        <div class="mt-2 grid grid-cols-1 gap-x-12 gap-y-8 sm:grid-cols-6">
                                            <div class="sm:col-span-4">
                                                <label for="nombre"
                                                       class="block text-sm font-semibold leading-6 text-sky-900">Nombre
                                                    del proyecto:</label>
                                                <div class="mt-2">
                                                    <div class="flex rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-sky-600 sm:max-w-md">
                                                        <input type="text" th:value="*{nombre}" name="nombre" id="nombre"
                                                               class="block p-2 font-normal flex-1 border-0 bg-transparent py-1.5 pl-1 text-sky-900 placeholder:text-sky-400 focus:ring-0 sm:text-sm sm:leading-6">
                                                       <!--
                                                        <input type="hidden" th:value="*{propuesta}" name="propuesta" id="propuesta">
                                                        <input type="hidden" th:value="*{tipoProyecto}" name="tipoProyecto" id="tipoProyecto">
                                                        -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sm:col-span-2">
                                                <label for="convocatoria"
                                                       class="block text-sm font-semibold leading-6 text-sky-900">Convocatoria: </label>
                                                <div class="mt-2">
                                                    <select id="convocatoria" name="convocatoria"
                                                            class="block w-full rounded-md border-0 py-1.5 text-sky-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:max-w-xs sm:text-sm sm:leading-6">
                                                        <option th:value="*{convocatoria?.id}"
                                                                th:text="*{convocatoria?.nombre}"></option>
                                                        <option th:each="convocatoria : ${convocatorias}" th:value="${convocatoria.id}"
                                                                th:text="${convocatoria.nombre}"
                                                                th:selected="${convocatoria?.id}">>
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-span-full">
                                                <label for="descripcion"
                                                       class="block text-sm font-semibold leading-6 text-sky-900">Descripción</label>
                                                <div class="mt-2">
                                                    <textarea id="descripcion" name="descripcion" rows="3"
                                                              th:value="*{descripcion}"
                                                              class="block p-2 font-normal w-full rounded-md border-0 py-1.5 text-sky-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6">[[${conahcyt.descripcion}]]</textarea>

                                                </div>
                                                <p class="text-sm text-gray-400 italic font-normal">Breve descripción del objetivo del
                                                    proyecto.</p>
                                            </div>

                                            <div class="sm:col-span-3">
                                                <label for="responsable"
                                                       class="block text-sm font-semibold leading-6 text-sky-900">Responsable: </label>
                                                <div class="mt-2">
                                                    <select id="responsable" name="responsable"
                                                            class="block w-full rounded-md border-0 py-1.5 text-sky-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:max-w-xs sm:text-sm sm:leading-6">
                                                        <option th:value="*{responsable?.id}"
                                                                th:text="*{responsable?.nombre}"></option>
                                                        <option th:each="persona : ${personas}" th:value="${persona.id}"
                                                                th:text="${persona.nombre}"
                                                                th:selected="${responsable?.id}">>
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="sm:col-span-3">
                                                <label class="block text-sm font-semibold leading-6 text-sky-900">Estatus: </label>
                                                <div class="mt-2">
                                                    <select id="estatus" name="estatus"
                                                            class="block w-full rounded-md border-0 py-1.5 text-sky-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:max-w-xs sm:text-sm sm:leading-6">
                                                        <option th:value="*{estatus}" th:text="*{estatus}"></option>
                                                        <option th:each="estado : ${estados}" th:value="${estado}"
                                                                th:text="${estado}"></option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="col-span-full">
                                                <label for="objetivo"
                                                       class="block text-sm font-semibold leading-6 text-sky-900">Objetivo: </label>
                                                <div class="mt-2">
                                                    <textarea id="objetivo" name="objetivo" rows="3"
                                                              th:value="*{objetivo}"
                                                              class="block p-2 font-normal w-full rounded-md border-0 py-1.5 text-sky-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6">[[${conahcyt.objetivo}]]</textarea>

                                                </div>
                                                <p class="text-sm text-gray-400 italic font-normal">Breve descripción del objetivo del
                                                    proyecto.</p>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="mt-6 my-12 flex items-center justify-end gap-x-6">
                                    <button type="button" onclick="history.back();"
                                            class="rounded-md bg-red-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">
                                        Cancelar
                                    </button>
                                    <button type="submit"
                                            class="rounded-md bg-lime-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-lime-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-lime-500">
                                        Guardar
                                    </button>
                                </div>

                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div th:insert="~{footer}"></div>


    </main>
</div>
</main>
</div>
</body>

