<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/htmx.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        * {box-sizing: border-box}

        /* Set height of body and the document to 100% */
        body, html {
          height: 100%;
          margin: 0;
          font-family: Arial;
        }

        /* Style tab links */
        .tablink {
          background-color: #608BC1;
          color: white;
          float: left;
          border: none;
          outline: none;
          cursor: pointer;
          padding: 14px 16px;
          border-radius: 20px 20px 0px 0px;
          font-size: 17px;
          width: 20%;
          border-bottom: 5px solid #133E87;

        }

        .tablink:hover {
          background-color: #CBDCEB;
        }

        /* Style the tab content (and add height:100% for full page content) */
        .tabcontent {
          color: white;
          display: none;
          padding: 100px 20px;
          height: 100%;
        }

        #Info {background-color: #fff;}
        #Etapas {background-color: #fff;}
        #Documentos {background-color: #fff;}
        #Particiapntes {background-color: #fff;}
        #Propuesta {background-color: #fff;}
    </style>


    <title>Info del Proyecto</title>
</head>
<body class="flex flex-col min-h-screen">
<div>
    <div th:insert="~{sidebar}"></div>
    <div th:insert="~{header}"></div>
    <main class="lg:pl-64">
        <div class="relative flex min-h-min flex-col justify-center overflow-hidden bg-gray-50">
            <img src="/images/beams.jpg" alt=""
                 class="absolute top-1/2 left-1/2 max-w-none -translate-x-1/2 -translate-y-1/2" width="1308"/>
            <div class="absolute inset-0 bg-[url(/images/grid.svg)] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"></div>
            <div class="relative bg-white px-6 pt-4 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-10 sm:rounded-lg sm:px-10">
                <div class="mx-auto max-w-screen-lg">
                    <div class="divide-y divide-gray-300/50">
                        <nav class="bg-white border-gray-200 dark:bg-gray-900">
                            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                                <p>
                                    <span th:text="${conahcytDto.nombre}"
                                          class="self-center text-2xl font-semibold whitespace-nowrap"></span>
                                </p>
                                <!--      <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                                          <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get started</button>
                                          <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Get started 2</button>

                                      </div>-->

                            </div>
                        </nav>

                        <div class="pt-2 text-base font-normal leading-7">

                            <div class="font-semibold">
                            <button class="tablink" onclick="openPage('Info', this, '#133E87')"  id="defaultOpen">Info</button>
                            <button class="tablink" onclick="openPage('Propuesta', this, '#133E87')">Propuesta</button>
                            <button class="tablink" onclick="openPage('Participantes', this, '#133E87')">Participantes</button>
                            <button class="tablink" onclick="openPage('Etapas', this, '#133E87')">Etapas </button>
                            <button class="tablink" onclick="openPage('Documentos', this, '#133E87')">Documentos</button>
                            </div>
                            <div id="Info" class="tabcontent">
                                <div class="mt-1 flex items-center space-x-3">
                                    <h3 class="text-sm font-semibold text-gray-900">
                                        <span>Descripción:</span>
                                    </h3>
                                    <p class="text-sm font-normal text-gray-500">
                                        <span th:text="${conahcytDto.descripcion}">2</span>
                                    </p>
                                </div>
                                <div class="mt-5 flex items-center space-x-3">
                                    <h3 class="truncate text-sm font-semibold text-gray-900">
                                        <span>Responsable:</span>
                                    </h3>
                                    <p class="truncate text-sm font-normal text-gray-500">
                                        <span th:text="${conahcytDto.responsable.nombre}">2</span>
                                    </p>
                                </div>
                                <div class="mt-5 flex items-center space-x-3">
                                    <h3 class="truncate text-sm font-semibold text-gray-900">
                                        <span>Convocatoria:</span>
                                    </h3>
                                    <p class="truncate text-sm font-normal text-gray-500">
                                        <span th:text="${conahcytDto.convocatoria.nombre}">2</span>
                                    </p>
                                </div>
                                <div class="mt-5 flex items-center space-x-3">
                                    <h3 class="truncate text-sm font-semibold text-gray-900">
                                        <span>Objetivo:</span>
                                    </h3>
                                    <p class="text-sm font-normal text-gray-500">
                                        <span th:text="${conahcytDto.objetivo}">2</span>
                                    </p>
                                </div>
                                <div class="mt-5 flex items-center space-x-3">
                                    <h3 class="text-sm font-semibold text-gray-900">
                                        <span>Avance:</span>
                                    </h3>
                                    <p class="text-sm font-normal text-gray-500">
                                        <span th:text="${avance}"></span>%
                                    </p>
                                </div>
                            </div>

                            <div id="Etapas" class="tabcontent">
                                <div th:hx-get="@{/etapa/list(id=${conahcytDto.id})}" hx-trigger="load"></div>

                            </div>
                            <div id="Documentos" class="tabcontent">
                                <div th:hx-get="@{/documento/list(id=${conahcytDto.id})}" hx-trigger="load"></div>
                            </div>
                            <div id="Participantes" class="tabcontent">
                                <div th:hx-get="@{/empConahcyt/list(id=${conahcytDto.id})}" hx-trigger="load"></div>
                            </div>

                            <div id="Propuesta" class="tabcontent">
                                <div th:hx-get="@{/propuesta/list(id=${conahcytDto.id})}" hx-trigger="load"></div>
                            </div>

                            <script>
                                function openPage(pageName,elmnt,color) {
                                  var i, tabcontent, tablinks;
                                  tabcontent = document.getElementsByClassName("tabcontent");
                                  for (i = 0; i < tabcontent.length; i++) {
                                    tabcontent[i].style.display = "none";
                                  }
                                  tablinks = document.getElementsByClassName("tablink");
                                  for (i = 0; i < tablinks.length; i++) {
                                    tablinks[i].style.backgroundColor = "";
                                  }
                                  document.getElementById(pageName).style.display = "block";
                                  elmnt.style.backgroundColor = color;
                                }

                                // Get the element with id="defaultOpen" and click on it
                                document.getElementById("defaultOpen").click();
                            </script>

                            <div class="mt-1 overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                                <div th:insert="~{Plot/Gantt}"></div>
                            </div>


                            <!-- CONTENIDO ... -->
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div th:insert="~{footer}"></div>


    </main>
</div>
</main>
</div>

<!-- from cdn -->
<script src="https://unpkg.com/@material-tailwind/html@latest/scripts/tabs.js"></script>

</body>

