<!--
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<H1>Summary</h1>

<form th:action="@{/cotiza/postarray}" th:object="${wrapper}" method="post">

  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Clave</th>
      <th>Descripción Name</th>
      <th>Precio Venta</th>
      <th>Cantidad</th>
    </tr>
    </thead>
    <tbody id="list-results">
    <tr th:each="cust, itemStat : *{servicios}">
      <td><input th:field="*{servicios[__${itemStat.index}__].servicio.id}" readonly /></td>
      <td><input th:field="*{servicios[__${itemStat.index}__].servicio.clave}" readonly /></td>
      <td><input th:field="*{servicios[__${itemStat.index}__].servicio.descripcion}" readonly /></td>
      <td><input th:field="*{servicios[__${itemStat.index}__].servicio.precioVta}" readonly /></td>
      <td><input th:field="*{servicios[__${itemStat.index}__].cantidad}" /></td>
    </tr>
    </tbody>
  </table>
  <input type="submit" value="Submit">
</form>

</body>
</html>
-->


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/htmx.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Servicios a cotizar </title>
</head>
<body class="flex flex-col min-h-screen">
<div>
    <div th:insert="~{sidebar}"></div>
    <div th:insert="~{header}"></div>
    <main class="lg:pl-64">
        <div class="sm:flex sm:items-center mt-12 mb-2 ml-8">
            <div class="sm:flex-auto">
                <h2 class="text-3xl font-extrabold leading-6 text-sky-700">Listado de servicios</h2>
            </div>
        </div>

        <div class="grid grid-cols-6 items-start p-4 gap-4">
            <div class="col-span-6 bg-white rounded-xl border border-gray-500 flex flex-col ">
                <div class="relative  p-2 flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md overflow-hidden">
                    <div class="bg-clip-border rounded-xl text-gray-700 p-4">

                        <div class="overflow-x-scroll px-0 pt-0 pb-2">
                            <form th:action="@{/etapaservicio/postarray}" th:object="${wrapper}" method="post">

                                <div class="inline-block min-w-full align-middle">
                                    <div class="sm:flex sm:items-center">
                                        <div class="sm:flex-auto">
                                        </div>
                                        <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
                                            <button type="submit"
                                                    class="block rounded-md bg-sky-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-sky-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-600">
                                                Guardar
                                            </button>
                                        </div>
                                    </div>
                                    <table class="min-w-full divide-y divide-gray-300">
                                        <thead>
                                        <tr>
                                            <th scope="col"
                                                class="py-3.5 pl-4 pr-3 text-left text-xs font-semibold text-gray-900 sm:pl-0">
                                                ID
                                            </th>
                                            <th scope="col"
                                                class="px-3 py-3.5 text-left text-xs font-semibold text-gray-900">
                                                Clave
                                            </th>
                                            <th scope="col"
                                                class="px-3 py-3.5 text-left text-xs font-semibold text-gray-900">
                                                Descripción
                                            </th>
                                            <th scope="col"
                                                class="px-3 py-3.5 text-left text-xs font-semibold text-gray-900">
                                                Precio de Venta
                                            </th>
                                            <th scope="col"
                                                class="px-3 py-3.5 text-left text-xs font-semibold text-gray-900">
                                                Cantidad
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody class="divide-y divide-gray-200" id="list-results">
                                        <tr th:each="cust, itemStat : *{servicios}">
                                            <td class="px-2 py-2 text-xs text-gray-500">
                                                <input th:field="*{servicios[__${itemStat.index}__].servicio.id}"
                                                       readonly/>
                                            <td class="px-2 py-2 text-xs text-gray-500">
                                                <input th:field="*{servicios[__${itemStat.index}__].servicio.clave}"
                                                       readonly/>
                                            </td>
                                            <td class="px-2 py-2 text-xs text-gray-500">
                                                <input th:field="*{servicios[__${itemStat.index}__].servicio.descripcion}"
                                                       readonly/>
                                            </td>
                                            <td class="px-2 py-2 text-xs text-gray-500 text-right">
                                                <input th:field="*{servicios[__${itemStat.index}__].servicio.precioVta}"
                                                       readonly/>
                                            </td>
                                            <td class="px-2 py-2 text-xs text-gray-500">
                                                <input th:field="*{servicios[__${itemStat.index}__].cantidad}"
                                                       class="block p-2 font-normal w-full rounded-md border-0 py-1.5 text-sky-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-sky-600 sm:text-sm sm:leading-6"></input>

                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:insert="~{footer}"></div>


    </main>
</div>
</main>
</div>

<!-- from cdn -->
<script src="https://unpkg.com/@material-tailwind/html@latest/scripts/tabs.js"></script>

</body>

