<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <link href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" rel="stylesheet">
    <script src="/htmx.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
            console.log("Entra al javascript");
        /*]]>*/
    </script>

    <title>Autorizaciones CONAHCYT</title>
</head>
<body class="flex flex-col min-h-min">
<div class="px-4 sm:px-6 lg:px-8">
    <!-- Your content -->
    <div class="border-b border-gray-200 pb-5 sm:flex sm:items-center sm:justify-between">
        <h2 class="text-3xl font-extrabold leading-6 text-sky-700">Autorizaciones CONAHCYT</h2>

        <div class="mt-3 sm:ml-4 sm:mt-0">
            <a th:href="@{/autoriza/new(id=${proyecto.id})}">
                <button class="inline-flex items-center rounded-md bg-orange-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-orange-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600"
                        type="button">
                    + Autorización CONAHCYT
                </button>
            </a>
        </div>
    </div>

    <div class=" mt-12 px-1">

        <table class=" display p-2 text-left text-sm text-gray-700" id="example"
               style="width:100%">
            <thead>
            <tr class="font-semibold text-sky-700">
                <th>Persona que autorizq</th>
                <th>Notas</th>
                <th>Fecha autorización</th>
                <th>Nivel</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="autoriza : ${autorizaciones}">
                <td>
                    <span th:text="${autoriza.persona}">Persona</span>
                </td>
                <td>
                    <span th:text="${autoriza.nota}">Nota</span>
                </td>
                <td>
                    <span th:text="${autoriza.fecha}">Fecha</span>
                </td>
                <td>
                    <span th:text="${autoriza.nivel}">Nivel</span>
                </td>


                <td>
                    <a class="relative inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-br-lg border border-transparent py-4 text-sm font-semibold text-sky-700"
                       th:href="@{/conahcyt/view(id=${proyecto.id})}">

                        Ver info
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#example').DataTable({
                    "search": true,
                    "ordering": true,
                    "paging": true,
                    "language": {
                        "search": "Buscar:  ",
                        "info": "Mostrando de _START_ a _END_ de _TOTAL_ registros totales",
                        "lengthMenu": "Mostrar _MENU_ registros por página"
                    }
                });
            });
        </script>
    </div>
</div>
</div>
<br>
<br>
<div th:insert="~{footer}"></div>
</body>
</html>