<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css">
    <script src="/htmx.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
            console.log("Entra al javascript");
        /*]]>*/
    </script>

    <title>Lista Proyectos Interno</title>
</head>
<body class="flex flex-col min-h-min">
<div>
    <div th:insert="~{sidebar}"></div>
    <div th:insert="~{header}"></div>
    <main class="lg:pl-64">
        <div class="relative flex min-h-min flex-col justify-center overflow-hidden bg-gray-50">
            <img src="/images/beams.jpg" alt=""
                 class="absolute top-1/2 left-1/2 max-w-none -translate-x-1/2 -translate-y-1/2" width="1308"/>
            <div class="absolute inset-0 bg-[url(/images/grid.svg)] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"></div>
            <div class="relative bg-white px-6 pt-4 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-10 sm:rounded-lg sm:px-10">
                <div class="mx-auto max-w-screen-lg">

                    <div class="px-4 sm:px-6 lg:px-8">
                        <!-- Your content -->
                        <div class="border-b border-gray-200 pb-5 sm:flex sm:items-center sm:justify-between">
                            <h2 class="text-3xl font-extrabold leading-6 text-sky-700">Lista de Proyectos Internos</h2>

                            <div class="mt-3 sm:ml-4 sm:mt-0">
                                <a th:href="@{/interno/new}">
                                    <button type="button"
                                            class="inline-flex items-center rounded-md bg-orange-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-orange-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-orange-600">
                                        Agregar proyecto Interno
                                    </button>
                                </a>
                            </div>
                        </div>

                        <div class=" mt-12 px-1">

                            <table id="example" class=" display p-2 text-left text-sm text-gray-700"
                                   style="width:100%">
                                <thead>
                                <tr class="font-semibold text-sky-700">
                                    <th>Nombre</th>
                                    <th>Tipo</th>
                                    <th>Avance</th>
                                    <th>Descripción</th>
                                    <th>Responsable</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="proyecto : ${proyectos}">
                                    <td>
                                        <span th:text="${proyecto.nombre}">2</span>
                                    </td>
                                    <td>
                                        <span th:text="${proyecto.tipoProyecto}">2</span>
                                    </td>
                                    <td>
                                        <span th:text="${proyecto.avance} + '%'">2</span>
                                    </td>
                                    <td>

                                        <span th:text="${proyecto.descripcion}">2</span>
                                    </td>
                                    <td>
                                        <span th:text="${proyecto.responsable.nombre}">2</span>
                                    </td>
                                    <td>
                                        <a th:href="@{/interno/view(id=${proyecto.id})}"
                                           class="relative inline-flex w-0 flex-1 items-center justify-center gap-x-3 rounded-br-lg border border-transparent py-4 text-sm font-semibold text-sky-700">

                                            Ver info
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $('#example').DataTable({
                                        "search": true,
                                        "ordering": true,
                                        "paging": true,
                                        "language": {
                                            "search": "Buscar:  ",
                                            "info": "Mostrando de _START_ a _END_ de _TOTAL_ registros totales",
                                            "lengthMenu": "Mostrar _MENU_ registros por página"
                                        }
                                    });
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
        <div th:insert="~{footer}"></div>
    </main>
</div>
</body>
</html>