<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Servicio</title>
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
<script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
<script src="https://cdn.tailwindcss.com"></script>
</head>
<body>

<h1>Search de Servicio</h1>

<div id="message" name="message">
  <span>
    Aqui van los resultados
  </span>
</div>

    <input type="search"
           name="search" placeholder="Digite Para Iniciar la Búsqueda de Servicio"
           hx-post="/cotiza/search"
           hx-trigger="input changed delay:500ms, search"
           hx-target="#search-results"
    >
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Add</th>
        </tr>
        </thead>
        <tbody id="search-results">
        </tbody>
    </table>

</body>
</html>
</body>
</html>
