<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Reporte Proyectos</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
    <script src="/htmx.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link th:href="@{/main.css}" rel="stylesheet"/>
    <style>
        progress[value] {
        --w: 600px; /* the width*/
        --color:  /* the progress color */
        linear-gradient(90deg,#ff6161,#1ecd1e) 0/var(--w);
        --background: lightgrey; /* the background color */

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        width: var(--w);
        margin: 0 10px;
        border-radius: 10em;
        background: var(--background);
        }
        progress[value]::-webkit-progress-bar {
        border-radius: 10em;
        background: var(--background);
        }
        progress[value]::-webkit-progress-value {
        border-radius: 10em;
        background: var(--color);
        }
        progress[value]::-moz-progress-bar {
        border-radius: 10em;
        background: var(--color);
        }

    label {
      font-size: 14px;
      font-weight: bold;
      display: block;
      margin: 20px 0;
    }
    </style>

</head>
<body class="flex flex-col min-h-screen">
<div>
    <div th:insert="~{sidebar}"></div>
    <div th:insert="~{header}"></div>
    <main class="lg:pl-64">

        <div class="relative flex min-h-min flex-col justify-center overflow-hidden bg-gray-50">
            <img src="/images/beams.jpg" alt=""
                 class="absolute top-1/2 left-1/2 max-w-none -translate-x-1/2 -translate-y-1/2" width="1308"/>
            <div class="absolute inset-0 bg-[url(/images/grid.svg)] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"></div>
            <div class="relative bg-white px-6 pt-4 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-10 sm:rounded-lg sm:px-10">
                <div class="mx-auto max-w-screen-lg">
                    <div class="divide-y divide-gray-300/50">
                        <div class="space-y-6 py-8 text-base leading-7 text-gray-600">
                            <h2 class="text-3xl font-extrabold leading-6 text-sky-700">Reporte general de proyectos</h2>
                        </div>
                        <div class="pt-4 text-base font-semibold leading-7">
                            <ul role="list" class="divide-y divide-gray-100">
                                <li class="flex items-center justify-between gap-x-6 py-5" th:each="proyecto: ${proyectos}">
                                    <div class="min-w-0">
                                        <div class="flex items-start gap-x-3">
                                            <p th:text="${proyecto?.nombre}"
                                               class="text-base font-semibold leading-6 text-gray-900">Nombre del proyecto</p>
                                            <p th:text="${proyecto?.tipoProyecto}"
                                               class="mt-0.5 whitespace-nowrap rounded-md bg-green-50 px-1.5 py-0.5 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">
                                                Complete</p>
                                            <p th:text="${proyecto?.estado}"
                                               class="mt-0.5 whitespace-nowrap rounded-md bg-sky-100 px-1.5 py-0.5 text-xs font-medium text-sky-700 ring-1 ring-inset ring-sky-600/20">
                                                Complete</p>
                                        </div>
                                        <div class="mt-1 flex items-center gap-x-2 text-sm leading-5 text-gray-500">
                                            <p class="whitespace-nowrap">Creado en <span th:text="${proyecto?.fechaCreacion}">responsable</span></p>
                                            <svg viewBox="0 0 2 2" class="h-0.5 w-0.5 fill-current">
                                                <circle cx="1" cy="1" r="1"/>
                                            </svg>
                                            <p class="truncate">Dirigido por: <span th:text="${proyecto?.nombreResponsable}">responsable</span></p>
                                        </div>
                                        <div class="mt-1 flex items-center gap-x-2 text-sm leading-5 text-gray-500">
                                            <div>
                                                <label>Avance: <span th:text="${proyecto?.avance} + '%'">avance</span>
                                                    <progress class="w-full  h-4 rounded-full" id="file" max="100" th:value="${proyecto?.avance}">
                                                        %
                                                    </progress>

                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="flex flex-none items-center gap-x-4">
                                        <div th:switch="${proyecto.tipoProyecto.toString()}">
                                            <div th:case="'CONAHCYT'">
                                                <a th:href="@{/conahcyt/view(id=${proyecto.id})}"
                                                   class="hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block">Ver
                                                    info</a>
                                            </div>
                                            <div th:case="'INDUSTRIA'">
                                                <a th:href="@{/industria/view(id=${proyecto.id})}"
                                                   class="hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block">Ver
                                                    info</a>
                                            </div>
                                            <div th:case="'INTERNO'">
                                                <a th:href="@{/interno/view(id=${proyecto.id})}"
                                                   class="hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block">Ver
                                                    info</a>
                                            </div>
                                            <div th:case="*">
                                                <a th:href="@{/proyecto/view(id=${proyecto.id})}"
                                                   class="hidden rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block">Ver
                                                    info</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>


                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div th:insert="~{footer}"></div>


    </main>
</div>
</main>
</div>
</body>

