<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
    <!--
    <meta http-equiv="Content-Type" content="application/json" charset="UTF-8">
    -->
    <script src="/htmx.min.js"></script>
    <link th:href="@{/main.css}" rel="stylesheet" />
    <title>View Personal</title>
</head>
<body>
<h1>View Personal</h1>

<form action="#" th:action="@{/documento/save}" th:object="${documento}" method="post">
    <div>
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" th:field="*{nombre}"/>
    </div>
    <div>
        <label for="descripcion">Descripcion</label>
        <input id="descripcion" type="text" th:field="*{descripcion}"/>
    </div>
    <br>
    <div>
        <input type="submit">Submit </input>
    </div>
</form>


</body>
</html>